In [1]:
print("abc")

abc

In [3]:
type(123)

int

In [4]:
country = "Pakistan"

In [5]:
type(country)

str

In [6]:
len(country)

8

In [10]:
country.count('ak')

1

In [12]:
country.count('P')

1

In [13]:
country.find

In [15]:
country.find('a')

1

In [16]:
country.count('a')

2

In [17]:
country.find('a',2)

6

In [21]:
country.isalpha()

True

In [22]:
"country".isalpha()

True

In [23]:
"country".isalnum()

True

In [24]:
"country".isnumeric()

False

In [26]:
"country".isidentifier()

True

In [27]:
"country".istitle()

False

In [28]:
country.istitle()

True

In [29]:
country.isdecimal()

False

In [30]:
country.isprintable()

True

In [31]:
country.isascii()

True

In [32]:
country.isidentifier()

True

In [35]:
text = "Hello we are all pythoneers"

In [36]:
text.split(' ')

['Hello', 'we', 'are', 'all', 'pythoneers']

In [37]:
splitted = text.split(' ')

In [39]:
print(splitted)

['Hello', 'we', 'are', 'all', 'pythoneers']

In [38]:
' '.join(splitted)

'Hello we are all pythoneers'

In [40]:
text.replace('pythoneers','PYHTONEERS')

'Hello we are all PYHTONEERS'

In [41]:
text

'Hello we are all pythoneers'

In [42]:
name = " Sajid Majeed "

In [43]:
name=='Sajid Majeed'

False

In [44]:
name.lstrip()

'Sajid Majeed '

In [45]:
name.rstrip()

' Sajid Majeed'

In [46]:
name.strip()

'Sajid Majeed'

In [47]:
name.index("M")

7

In [48]:
name = " Sajid Majeed "
age = 30

In [68]:
"Hello myself is" +name +". I am " + str(age) + " year old"

'Hello myself is Sajid Majeed . I am 30 year old'

String Formation

In [69]:
"Hello myself is {}. I am {} year old".format(name,age)

'Hello myself is  Sajid Majeed . I am 30 year old'

In [78]:
f"Hello myself is {name}.I am {age} year old"

'Hello myself is  Sajid Majeed .I am 30 year old'

In [79]:
print ('Hello World')
print ("Hello World")
print('''Hello World''')
print("""Hello World""")

Hello World
Hello World
Hello World
Hello World

In [80]:
print("We are all Learning 'Python and Data Science'")

We are all Learning 'Python and Data Science'

In [81]:
print('We are all Learning "Python and Data Science"')

We are all Learning "Python and Data Science"

In [89]:
name = input("Please Enter Your Name :")
course_name = input("Please Enter Course Name :")
venue_name = input("Please Enter Venue Name :")
course_timing = input("Please Enter Course Timing :")

print(f"""

            ========================================================
                    High Impact Skills Bootcamp
            ========================================================
            
            Candidate Name : {name}
            Course Name    : {course_name}
            Course Venue   : {venue_name}
            Course Timing  : {course_timing}
            
            ========================================================
                 Note : If found Please return to {venue_name}
            ========================================================

""")

Please Enter Your Name :Sajid Majeed
Please Enter Course Name :Data Science & AI
Please Enter Venue Name :SSUET
Please Enter Course Timing :9:00am to 5:00pm


            ========================================================
                    High Impact Skills Bootcamp
            ========================================================

            Candidate Name : Sajid Majeed
            Course Name    : Data Science & AI
            Course Venue   : SSUET
            Course Timing  : 9:00am to 5:00pm

            ========================================================
                 Note : If found Please return to SSUET
            ========================================================

In [92]:
2+3

5

In [95]:
a=100
b= 200
c = 50
a and b and c

50

In [96]:
a=100
b= 200
c = 50
a or b or c

100

In [98]:
x= -100
from math import sqrt
x>0 and sqrt(x)

False

In [99]:
x= -100
from math import sqrt
x<0 and sqrt(x)

ValueError: math domain error

In [100]:
a=100
b =a
b is a

True

In [102]:
c =100 
b is c

True

In [115]:
2 < 3 and 5**2 not in [1,2,3,4,5]

True

In [119]:
x = 100
x*=5
x

500

In [120]:
x = 100
x+=5
x

105